<div class="form-container">
    <form class="form" action="{{{config.host}}}/auth/reset-password" method="POST">
        <label for="password">
            <span>Password</span>
            <span class="constraints">* 8 characters, at least 1 number and 1 letter</span>
        </label>
        <input type="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" name="password">
        <input type="text" hidden name="token" value="{{token}}">
        <button type="submit">Reset password</button>
    </form>
</div>