<div class="form-container">
    <form action="{{{config.host}}}/auth/send-reset" class="form" method="POST">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="email address">
        <button type="submit">Send reset link</button>
    </form>
</div>
