<div id="login-form">
    <input id="username" type="text" name="username" placeholder="username">
    <input id="password" type="password" name="password" placeholder="password">
    <button id="login-submit" type="submit">Submit</button>
    <p id="validCredentials">Invalid credentials</p>
    <p id="serverError">OOOOeps, try again later</p>
    <a href="/auth/send-reset">Forgot password?</a>
</div>

<style>
    #validCredentials, #serverError {
        display: none;
        color: red;
    }
</style>

<script>

    window.onload = function() {
        var username = document.getElementById("username")
        var password = document.getElementById("password")
        var loginSubmit = document.getElementById("login-submit")
        var validCredentials = document.getElementById("validCredentials")
        var serverError = document.getElementById("serverError")

        password.addEventListener("input", function() {
            validCredentials.style.display = "none"
        })

        loginSubmit.addEventListener("click", function() {
            debugger
            axios({
                method: "POST",
                url: "http://localhost:3000/auth/login",
                data: {
                    username: username.value,
                    password: password.value
                }
            })
            .then((response)=> {
                serverError.style.display = "none"
                if(response.data.loggedIn) location.href = "http://localhost:3000/users/profile"
                else { 
                    validCredentials.style.display = "block"
                }
            })
            .catch((error)=> {
                serverError.style.display = "block"
            })
        })        

    }

</script>