<form action="/auth/reset-password" method="POST">
    <input type="password" name="password" placeholder="password">
    <input type="text" hidden name="token" value="{{token}}">
    <button type="submit">Reset password</button>
</form>