<form action="/auth/signup" method="POST">
    <input type="text" required name="username" placeholder="username">
    <input type="email" required name="email" placeholder="email">
    <input type="text" required name="firstname" placeholder="firstname">
    <input type="text" required name="lastname" placeholder="lastname">
      <label for="mail">Password should be 8 characters, containing at least 1 number and a letter</label>
    <input type="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" name="password" placeholder="password">
    <button type="submit">Sign up</button>
</form>